<h1><%= @artist.name %></h1>

<table>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Add Song", new_artist_song_path(@artist) %>