<div class="home_page_logo">Music App</div>
<div align="center"><i id="my-icon" class="fa fa-music fa-5x strong"></i></div>
<div align="center" class="fa-5x strong"> <%=link_to "#{icon('music')}".html_safe , artists_path %> </div>
<div align="center"> <%=link_to '<i class="fa fa-music fa-5x strong"></i>'.html_safe , artists_path %> </div>